@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit&family=Overpass:wght@300&family=Poppins:wght@200&family=Ubuntu:wght@500&display=swap');
$font-family :'Inter', sans-serif ;
$VeryDarkBlueBG: hsl(230, 17%, 14%); 
$VeryDarkBlueTopBGPattern : hsl(232, 19%, 15%);
$textColor:hsl(0, 0%, 100%); 

body{
    background-color:$VeryDarkBlueBG;
}

.container{  
    width: 100%; 
    position: relative;
    top: 30px;
        .row{
        display:flex; 
        flex-direction: row;
        grid-gap: 10px;
        justify-content: center;
        }

        .card{
            border-style: solid;
            width: 17%;
            border-radius: 10px;
        }

        .cardSocialMedia{
            display: flex;
            flex-direction: row; 
        }

        h5, p{
            font-family:$font-family;
            text-align: center; 
            color: hsl(0, 0%, 100%);
        }

        .numberFollowers{
            font-size:30px;
            margin:4px;
        }
}


.containerHeader {
    width: 21%; 

    .rowHeader{
        display:flex; 
        flex-direction: column;
        position: relative;
        left: 68%;
        
        }

        h2, p{
            color: $textColor;
            margin: 0; 
        }
}